.first-slider {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 60px;
}

.first-slider-container {
  display: flex;
  align-items: center;
  min-height: 460px;
  max-width: 2000px;
  min-width: 1440px;
  width: 100%;
  padding: 15px;
  flex-direction: column;
  //background-color: blue;
  .fs-controlls {
    //position: absolute;
    color: #0271c2;
    font-size: 100px;
    cursor: pointer;
  }

  .container-top {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.fs-content {
  display: flex;
  width: 75%;
  color: #575757;
  padding: 10px 30px;
  .content-desc {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    h1 {
      line-height: 34px;
      font-weight: 400;
      font-size: 30px;
      white-space: nowrap;
    }
    h3 {
      font-weight: 400;
      font-size: 18px;
      white-space: nowrap;
    }
  }
  img {
    width: 750px;
    height: 300px;
  }
  .kfz-img {
    position: relative !important;
    object-fit: contain;
    width: 100%;
    flex: 2;
    max-width: 750px;
    height: 300px;
  }
}

.container-bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 15px;
  color: #999;

  h3 {
    position: absolute !important;
    top: -10px !important;
    left: 15px !important;
    all: unset;
    color: #999;
    font-size: 14px;
    line-height: 18px;
  }
  .bottom-content {
    display: flex;
    justify-content: space-between;
    background-color: #ffbb1c;
    padding: 15px;
    border-radius: 4px;
    gap: 20px;
    width: 100%;

    .inp-container {
      display: flex;
      justify-content: space-between;
      border-radius: 4px;
      background-color: white;
      border: 1px solid lightgray;
      label {
        display: flex;

        justify-content: center;
        align-items: center;
        padding: 5px 20px;

        .label-div {
          display: flex;
          border-right: 2px solid lightgray;
          justify-content: space-between;
          align-items: center;
          padding: 0 40px 0 0;
          width: fit-content;
        }
        .border {
          border: none !important;
        }
        input {
          margin-right: 10px;
          width: 20px;
          height: 20px;
          font-weight: 700;
        }
        h4 {
          font-size: 16px;
          line-height: 18px;
          white-space: nowrap;
          color: #575757;
          padding: 0;
        }
        h6 {
          font-size: 11px;
          padding: 0;
        }
      }
    }
    button {
      background-color: #0271c2;
      color: white;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 700;
      min-height: 58px;
      padding: 0 30px;
      white-space: nowrap;
      flex: 1;
      &:hover {
        background-color: #015fa4;
      }
    }
  }
}

.kfz {
  position: sticky;
  top: 10px;
}

.right {
  position: absolute;
  right: -20px;
  bottom: 10%;
}

.left {
  position: absolute;
  left: -20px;
  bottom: 10%;
}
