.login-home {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 10px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  color: #575757;
}

.login-home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  max-width: 2000px;
  width: 100%;
  button {
    font-size: 14px;
    padding: 10px 30px;
    line-height: 16px;
    color: #005ea8;
    background-color: #ffffff;
    border: 1px solid #005ea8;
    border-radius: 3px;
    margin: 0;
    max-height: 40px;
  }
  span {
    font-size: 14px;
    line-height: 17px;
    margin-right: 32px;
  }
}
