.products-slider {
  width: 70%;
  margin-bottom: 10px;
  height: 405px;
}
.info {
  width: 100%;
}

.products-slider-container {
  a {
    all: unset;
  }
}

.product {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 220px;
  cursor: pointer;
  &:hover {
    border: 1px solid lightgray;
  }
  .product-top {
    .img-wrapper {
      height: 205px;
      width: 100%;
    }
    img {
      object-fit: contain;
      max-width: 100%;
      min-height: 100%;
      height: 100%;
      width: 100%;
    }
  }
  .product-bottom {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 1px;
    .p-desc {
      max-height: 55px;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        color: #f07c00 !important;
      }
    }
    .p-discount {
      .old-price {
        text-decoration: line-through;
        margin-right: 5px;
      }
      .discount {
        color: #c82d2d;
        border: 1px solid #c82d2d;
        padding: 0px 5px;
        border-radius: 2px;
      }
    }
    .p-price {
      .p-from {
        margin-right: 5px;
      }
      .p-price-now {
        color: #c82d2d;
        font-size: 20px;
      }
    }
    .p-premium {
      position: absolute;
      font-size: 16px;
      color: #005ea8;
      bottom: 5px;
    }
    .p-none {
      display: none;
    }
  }
  .p-punkte {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 57px;
    border: 1px solid #005ea8;
    border-radius: 5px;
    background-color: white;
  }
}

.rec-dot {
  display: none;
}

.rec-arrow {
  all: unset !important;
  cursor: pointer !important;
  font-size: 50px !important;
  color: #0271c2 !important ;
}
