.login-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  color: red;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.login-modal-container {
  position: absolute;
  width: 500px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  top: 110px;
  left: 50%;
  height: 400px;
  margin-left: -250px;
  z-index: 1001;
  cursor: auto;
}
